/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #2e6a00;
  --secondary-color: #1c7cc7;
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
}  

html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
  }
  
  li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-wrapper {
  margin: 0 auto;
  max-width: 1320px;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.nav-logo span{
  color: var(--secondary-color);
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary-color);
}

