/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #2e6a00;
  --secondary-color: #1c7cc7;
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --title-color: #212529;
  --table-border-color: #dee1e6;
  --table-background-color: #f2f2f2;
  --white-color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--body-font);
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0;
}

h1 {
  font-size: 1.875rem;
  line-height: 0.85;
}

h2 {
  font-size: 1.063rem;
}

h3 {
  font-size: 0.995rem;
}

p {
  color: var(--title-color);
  margin-bottom: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* -- Navbar -- */

.nav-wrapper {
  margin: 0 auto;
  max-width: 1320px;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.nav-logo span {
  color: var(--secondary-color);
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary-color);
}

/* -- Navbar Hamburger-- */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--white-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

}

/* headline */

.headline {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 20px 0;
}

.headline.principal {
  text-align: center;
}

.headline h1 {
  font-size: 1.875rem;
}

.headline h2 {
  font-size: 1.063rem;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1320px;
  padding: 1rem 1.5rem;
}

/* - main - */

/*  - tabela - */

.table {
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--table-border-color);
}

td:first-child {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

th,
td {
  text-align: left;
  padding: 16px;
  border: 1px solid var(--table-border-color);
  text-align: center;
}

tr:nth-child(even) {
  background-color: var(--table-background-color);
}
